<div class="c-register">
  <div class="c-register__container">
    <div class="c-register__card">
      <h1 class="c-register__title">Register</h1>

      @if (error) {
        <div class="c-register__error">
          {{ error }}
        </div>
      }

      <form class="c-register__form" (submit)="onSubmit($event)">
        <div class="c-register__field">
          <div class="c-register__input-wrapper">
            <i class="c-register__icon bi bi-person-fill"></i>
            <input id="username" class="c-register__input" name="username" type="text" [(ngModel)]="username" required
              autocomplete="username" placeholder="Username" />
          </div>
        </div>

        <div class="c-register__field">
          <div class="c-register__input-wrapper">
			<i class="c-register__icon bi bi-person-fill"></i>
            <input id="name" class="c-register__input" name="name" type="text" [(ngModel)]="name" required placeholder="Full name" />
          </div>
        </div>

        <div class="c-register__field">
          <div class="c-register__input-wrapper">
			<i class="c-register__icon bi bi-envelope-fill"></i>
            <input id="email" class="c-register__input" name="email" type="email" [(ngModel)]="email" required autocomplete="email" placeholder="Email" />
          </div>
        </div>

		<div class="c-register__field">
          <div class="c-register__input-wrapper">
			<i class="c-register__icon bi bi-lock-fill"></i>
            <input id="password" class="c-register__input" name="password" type="password" [(ngModel)]="password" required autocomplete="new-password" placeholder="Password" />
          </div>
        </div>

        <div class="c-register__field">
          <div class="c-register__input-wrapper">
			<i class="c-register__icon bi bi-telephone-fill"></i>
            <input id="phone" class="c-register__input" name="phone" type="tel" [(ngModel)]="phone" required placeholder="Phone" />
          </div>
        </div>

		<div class="c-register__field">
          <div class="c-register__input-wrapper">
			<i class="c-register__icon bi bi-lock-fill"></i>
            <input id="confirmPassword" class="c-register__input" name="confirmPassword" type="password" [(ngModel)]="confirmPassword" required autocomplete="new-password" placeholder="Repeat password" />
          </div>
        </div>

        <div class="c-register__field">
          <div class="c-register__input-wrapper">
            <input id="birthdate" class="c-register__input" name="birthdate" type="date" [(ngModel)]="birthdate" required placeholder="Birthdate" />
          </div>
        </div>

        <div class="c-register__field">
          <div class="c-register__input-wrapper">
			<i class="c-register__icon bi bi-geo-alt-fill"></i>
            <input id="country" class="c-register__input" name="country" type="text" [(ngModel)]="country" required placeholder="Country" />
          </div>
        </div>

        <div class="c-register__actions">
          <button class="c-register__button" type="submit" [disabled]="loading">Register</button>
        </div>
      </form>
      <div class="c-register__register-link">
        Already have an account?
        <a routerLink="/login">Sign in here</a>
      </div>
    </div>
  </div>
</div>
